---
import Hero from "../components/sections/home/Hero.astro";
import Partners from "../components/sections/home/Partners.astro";
import WhyChooseUs from "../components/sections/home/WhyChooseUs.astro";
import SolutionsGrid from "../components/sections/home/SolutionsGrid.astro";
import Blog from "../components/sections/home/Blog.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Hero />

  <div class="relative overflow-hidden">
    <!-- Fondo mejorado -->
    <div
      class="absolute inset-0 pointer-events-none z-0
  bg-gradient-to-tr from-[#0c2900] via-[#032053] `"
    >
    </div>

    <!-- Glow sutil (clave para que se vea pro) -->
    <div
      class="absolute inset-0 z-0 pointer-events-none bg-green-500/5 blur-3xl"
    >
    </div>

    <div class="relative z-10">
      <Partners />
      <WhyChooseUs />
      <SolutionsGrid />
      <Blog />
    </div>
  </div>
</Layout>
