---
const solutions = [
  {
    icon: `<img src="/icons/conectividad.webp" alt="Antena" class="w-34 h-34 object-contain" />`,
    title: "Conectividad.",
    description:
      "conexión robusta y exclusiva para tu empresa, ideal para operaciones que críticas.",
  },
  {
     icon: `<img src="/icons/serviciosAdministrados.webp" alt="Antena" class="w-34 h-34 object-contain" />`,
    title: "Servicios Administrados.",
    description: "Planes flexibles y escalables con instalación ágil y soporte especializado.",
  },
  {
    icon: `<img src="/icons/ciberseguridad.svg" alt="Ciberseguridad" class="w-30 h-30 object-contain" />`,
    title: "Ciberseguridad.",
    description: "Blindamos tu información con soluciones de ciberseguridad de última generación.",
  },
  {
    icon: `<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-server"><rect width="20" height="8" x="2" y="2" rx="2" ry="2"/><rect width="20" height="8" x="2" y="14" rx="2" ry="2"/><line x1="6" x2="6.01" y1="6" y2="6"/><line x1="6" x2="6.01" y1="18" y2="18"/></svg>`,
    title: "DATA CENTER.",
    description: "Infraestructura de alta disponibilidad y máxima seguridad para el resguardo y procesamiento de tu activo más valioso: la información.",
  },
  {
    icon: `<img src="/icons/proyectosEspeciales.webp" alt="Antena" class="w-30 h-30 object-contain" />`,
    title: "Proyectos Especiales.",
    description: "Diseñamos proyectos de acuerdo a tus necesidades.",
  },
];
---

<section class="pt-8 pb-12 relative overflow-hidden">
  <div class="container mx-auto px-4 relative z-10">
    <h2
      class="text-5xl font-black text-white mb-8 tracking-tighter italic uppercase"
    >
      Soluciones
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
      {
        solutions.map((solution) => (
          <div class="group p-8 rounded-2xl bg-[#191e24] backdrop-blur-sm border border-white/5 hover:border-primary/20 transition-all duration-500 hover:bg-black/60 flex flex-col gap-6">
            <div class="w-12 h-12 rounded-xl bg-white/5 border border-white/10 flex items-center justify-center text-primary group-hover:bg-primary group-hover:text-black transition-all duration-500">
              <Fragment set:html={solution.icon} />
            </div>
            <div>
              <h3 class="text-sm font-black text-white mb-3 tracking-widest uppercase italic group-hover:text-primary transition-colors">
                {solution.title}
              </h3>
              <p class="text-[11px] text-white/70 leading-relaxed group-hover:text-white transition-colors uppercase font-medium">
                {solution.description}
              </p>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
